 body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(72, 67, 233);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator {
  background-color: #ffffff;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  width: 320px;
}

.display {
  height: 60px;
  background-color: rgb(231, 211, 168);
  color: black;
  font-size: 28px;
  text-align: right;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  overflow-x: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  padding: 18px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  background-color: rgb(229, 196, 135);
  transition: background 0.2s;
}

button:hover {
  background-color: #dcdcdc;
}

.equal {
 
  background-color:rgb(208, 146, 31);
  color: white;
}

.equa2 {
  grid-column: span 2;
  background-color: orange;
  color: white;
}


.equal:hover {
  background-color: rgb(70, 68, 63);
}
